.filter-container {
    margin-bottom: 10px;
    border-radius: 16px;
  }
  
  .filter-container .filter-select {
    padding: 5px;
    border-radius: 16px;
    border: 1px solid #bbb4b0;
    font-size: 0.8em;
  }
  